.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #b6c5f0;
}

.weather-list {
  flex: 1 auto;
  padding: 1rem 1rem 1rem 2rem;
}
.weather-cities {
  margin: 0;
  padding: 0;
  list-style-position: outside;
  list-style-type: decimal-leading-zero;
}
.weather-cities li {
  margin: 0 1em;
}

/* Today weather */
/* .weather-today {
  
} */

.weather-city {
  text-align: center;
  font-size: 4em;
  color: black;
}

.weather-today-meta {
  justify-content: space-between;
  
  /* outline: 1px solid gold; */
}
.weather-main {
  margin: 0;
  text-align: center;
  font-size: 2em;
  color: #0000009d;
}
.weather-temp {
  margin: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #397db1;
}

.weather-image {
  flex: 1 auto;
  text-align: center;
}
.weather-image img {
  background-color: #d1d1d1;
  border-radius: 30%;
}